<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- always keep the above 3 lines there, everything else goes below -->
	<link rel="icon" type="image/png" href="/images/favicon.png" />
	<link rel="manifest" href="/public/manifest.json">
	<title><%= title %></title>
	<link rel="stylesheet" media="all" href="<%= cloudFrontUrl %><%= cssBundle %>" />
	<!-- SEO stuff -->
	<% if ( canonical ) { %><link rel="canonical" href="https://v3.installthisapp.com<%= canonical %>" /><% } %>
	<meta name="description" content="Create Giveaways, Sweepstakes and Contests - Publish on Desktop and Mobile, Collect entries, and generate leads." />
	<meta name="keywords" content="facebook business page, online sweepstakes, online contests, facebook for business, facebook page apps, photo contest, image contest, votes contest, contest app, facebook game, facebook tab, facebook app" />
	<meta name="distribution" content="global"/>
	<meta name="resource-type" content="document"/>
	<meta http-equiv="Pragma" content="cache"/>
	<meta name="robots" content="all,index,follow"/>
	<meta name="Revisit" content="7 days"/>
	<meta property="og:title" content="<%= title %>" />
	<meta property="og:url" content="https://v3.installthisapp.com"/>
	<meta property="og:type" content="website" />
	<meta property="og:image" content="https://v3.installthisapp.com"/>
	<meta property="og:site_name" content="InstallThisApp"/>
	<meta property="og:description" content="Create Giveaways, Sweepstakes and Contests - Publish on Desktop and Mobile, Collect entries, and generate leads."/>
</head>