<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="<%= stylesheetUrl %>" />
	<link rel="icon" type="image/png" href="/images/favicon.png" />
	<title><%= module %></title>
</head>
<body>
	<div id="root"></div>
	<script>
		window.apiUrl 			= "<%= apiUrl %>";
		window.canvasId 		= "<%= canvasId %>";
		window.facebookAppId 	= "<%= facebookAppId %>";
		window.checksum 		= "<%= checksum %>";
		window.messagesUrl 		= "<%= messagesUrl %>";
		window.imagesUrl 		= "<%= imagesUrl %>";
	</script>
	<script src="<%= cloudFrontUrl %><%= manifestBundle %>"></script>
	<script src="<%= cloudFrontUrl %><%= vendorBundle %>"></script>
	<script src="<%= cloudFrontUrl %><%= moduleBundle %>"></script>
</body>
</html>