<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="shortcut icon" sizes="16x16" href="/images/module-icons/<%= module %>-big.jpg" />
	<link rel="shortcut icon" sizes="196x196" href="/images/module-icons/<%= module %>-big.jpg" />
	<!--link rel="apple-touch-icon-precomposed" sizes="152x152" href="icon-152x152.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="icon-144x144.png">
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="icon-120x120.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="icon-114x114.png">
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="icon-76x76.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="icon-72x72.png"-->
	<link rel="apple-touch-icon-precomposed" href="/images/module-icons/<%= module %>-big.jpg" />
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="<%= cloudFrontUrl %>/node_modules/animate.css/animate.min.css" />
	<link rel="stylesheet" type="text/css" href="<%= stylesheetUrl %>" />
	<link rel="icon" type="image/png" href="/images/favicon.png" />
	<title><%= module %></title>
</head>
<body>
	<div id="root"></div>
	<script>
		window.module 			= "<%= module %>";
		window.apiUrl 			= "<%= apiUrl %>";
		window.canvasId 		= "<%= canvasId %>";
		window.facebookAppId 	= "<%= facebookAppId %>";
		window.checksum 		= "<%= checksum %>";
		window.messagesUrl 		= "<%= messagesUrl %>";
		window.imagesUrl 		= "<%= imagesUrl %>";
	</script>
	<script>
		// 
		// AutoGrow
		// 
		var fbSafeInterval = setInterval( function(){
			if (window.FB) {
				FB.Canvas.setAutoGrow()
				clearInterval(fbSafeInterval)
			}
		}, 100)
		// 
		// Some modules either don't need FB or use their own script, so...
		// 
		<% if (module != 'fan_gate' && module != 'coupons' && module != 'photo_contest') { %>
			window.fbAsyncInit = function() {
				window.fbLoaded = true
				FB.init({
					appId      : window.facebookAppId,
					xfbml      : true,
					version    : 'v2.7'
				});
				FB.Canvas.setAutoGrow();
			};
			(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		<% } %>
	</script>
	<script src="<%= cloudFrontUrl %><%= manifestBundle %>"></script>
	<script src="<%= cloudFrontUrl %><%= vendorBundle %>"></script>
	<script src="<%= cloudFrontUrl %><%= moduleBundle %>"></script>
	<script type="text/javascript">
		if (typeof addToHomescreen !== 'undefined') { addToHomescreen(); }
	</script>
	<%- customJavascript %>
	<% if (checksum == '76W3VL'){ %>
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-107090183-1', 'auto');
		ga('send', 'pageview');

		</script>
	<% } %>
</body>
</html>