<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="shortcut icon" sizes="16x16" href="/images/module-icons/<%= module %>-big.jpg">
	<link rel="shortcut icon" sizes="196x196" href="/images/module-icons/<%= module %>-big.jpg">
	<!--link rel="apple-touch-icon-precomposed" sizes="152x152" href="icon-152x152.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="icon-144x144.png">
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="icon-120x120.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="icon-114x114.png">
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="icon-76x76.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="icon-72x72.png"-->
	<link rel="apple-touch-icon-precomposed" href="/images/module-icons/<%= module %>-big.jpg">
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="<%= stylesheetUrl %>" />
	<!-- // <script src="http://lab.cubiq.org/addtohome/src/addtohomescreen.js"></script> -->
	<link rel="icon" type="image/png" href="/images/favicon.png" />
	<title><%= module %></title>
</head>
<body>
	<div id="root"></div>
	<script>
		window.apiUrl 			= "<%= apiUrl %>";
		window.canvasId 		= "<%= canvasId %>";
		window.facebookAppId 	= "<%= facebookAppId %>";
		window.checksum 		= "<%= checksum %>";
		window.messagesUrl 		= "<%= messagesUrl %>";
		window.imagesUrl 		= "<%= imagesUrl %>";
	</script>
	<script src="<%= cloudFrontUrl %><%= manifestBundle %>"></script>
	<script src="<%= cloudFrontUrl %><%= vendorBundle %>"></script>
	<script src="<%= cloudFrontUrl %><%= moduleBundle %>"></script>
	<script type="text/javascript">
		addToHomescreen();
	</script>
</body>
</html>