<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/images/favicon.png" />
	<title>InstalThisApp</title>
	<link rel="stylesheet" media="all" href="<%= cloudFrontUrl %><%= cssBundle %>" />
	<%- disableSegment ? include('_disable-segment') : include('_segment') %>
	<style>
		#impersonation-alert{
			margin: 0px;
			font-weight: bold;
			padding: 8px 15px;
		}
		#blank-loading{
			position: fixed;
			top: 50%;
			left: 50%;
			margin-left: -37px;
			margin-top: -37px;
		}
		#root{
			position: relative;
			background: white;
			min-height: 100vh;
		}
		#root:empty{
			background: transparent;
		}
	</style>
</head>
<body>
	<div class="alert alert-warning hide" id="impersonation-alert"><span id="impersonation-alert-text"></span> <span id="impersonation-id-holder"></span></div>
	<img id="blank-loading" src="/images/source-loading.svg" />
	<div id="root"></div>
	<script>
		window.alias = "<%= alias %>";
		window.apiUrl = "<%= apiUrl %>";
		window.facebookAppId = "<%= facebookAppId %>";
		window.stripeKey = "<%= stripeKey %>";
	</script>
	<script src="<%= cloudFrontUrl %><%= manifestBundle %>"></script>
	<script src="<%= cloudFrontUrl %><%= vendorBundle %>"></script>
	<script src="<%= cloudFrontUrl %><%= jsBundle %>"></script>
	<script>
		// Show impersonation alert when required
		// Insert text programmatically so that poeople don't see it before the CSS is loaded
		if (window.alias) {
			document.getElementById('impersonation-alert').classList.remove('hide')
			document.getElementById('impersonation-id-holder').innerHTML = window.alias
			document.getElementById('impersonation-alert-text').innerHTML = "WARNING: You're impersonating user with ID"
		}
		// The fbLoaded var is verified at the component Wizard.js, in order to alert when 
		// ad-blockers are blocking facebook's SDK
		window.fbLoaded = false
		window.fbAsyncInit = function() {
			window.fbLoaded = true
			FB.init({
				appId      : window.facebookAppId,
				xfbml      : true,
				version    : 'v2.7'
			});
		};
		(function(d, s, id){
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) {return;}
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	<%- include('_profitwell') %>
</body>
</html>