<!DOCTYPE html>
<html lang="en">
<%- include('_head', {title: 'InstallThisApp'}) %>
<body>
	<div class="container-flex flex-space-around flex-vertical container-full-height flex-grow">
		<div class="col-md-12">
			<br/>
			<a href="/" class="btn btn-default">← Back</a>
			<br/>
		</div>
		<div class="flex-grow flex flex-vertical flex-center">
			<div class="col-md-12">
				<h1 class="text-center h2">Change your password</h1>
			</div>
			<div class="col-md-4 col-md-offset-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<form id="request-recovery">
							<div class="form-group">
								<input type="email" id="reset-password-email" name="email" class="form-control input-lg" placeholder="Email">
							</div>
							<p>
								<button id="signup-button" type="submit" class="btn btn-primary btn-lg btn-block">Send me the recovery link</button>
							</p>
						</form>
						<p class="hide request-sent">Sending...</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="<%= cloudFrontUrl %>/node_modules/jquery/dist/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
			$('#request-recovery').on('submit', function(e){
				e.preventDefault();
				$('#request-recovery').attr('disabled', true)
				$('#request-recovery').hide()
				$('.request-sent').removeClass('hide')
				var email = $('#reset-password-email').val()
				fetch('<%= apiUrl %>/auth/password.json', {
					method: 'POST',
					headers: {
						'Accept': 'application/json',
						'Content-Type': 'application/json',
					},
					body: JSON.stringify({
						email: email,
						redirect_url: 'https://' + window.location.hostname + '/reset-password'
					})
				}).then(response => {
					return response.json()
				})
				.then(json => {
					top.location = location.protocol + '//' + window.location.host + '/forgot/sent'
				})
				.catch(exception =>
					console.log('parsing failed', exception)
				)
			})
		})
	</script>
	<%- include('_scripts') %>
	<%- include('_segment') %>
	<script type="text/javascript">
		analytics.page('Forgot Password')
	</script>
</body>
</html>