<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= applicationTitle %></title>
	<meta property="og:url" content="<%= gatewayUrl %>" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="<%= applicationTitle %>" />
	<meta property="og:description" content="<%= applicationTitle %>" />
	<meta property="og:image" content="<%= checksum == 'SPH78L' ? 'https://s3-us-west-2.amazonaws.com/installthisapp/application-assets/SPH78L/images/og.jpg' : '' %><%= checksum == 'Y43R1Z' || checksum == 'RB19VF' ? 'https://s3-us-west-2.amazonaws.com/installthisapp/application-assets/Y43R1Z/images/sfo-wallpost.jpg' : '' %>" />
</head>
<body>
	<h1><%= applicationTitle %></h1>
	Redirecting...
	<script>
	function isMobileDevice() {
		return (typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1);
	};
	if ( isMobileDevice() ) {
		top.location.href = "<%= canvasUrl %>";
	}
	else {
		if (<%= hasFacebookTab ? true : false %>) {
			top.location.href = "<%= facebookTabUrl %>";
		}
		else {
			top.location.href = "<%= canvasUrl %>";
		}
	}
	</script>
</body>
</html>