<!DOCTYPE html>
<html lang="en">
<%- include('_head') %>
<body>
	<header class="jumbotron">
		<%- include('_navbar', {alt: false}) %>
		<div class="container-flex flex-center flex-vertical">
			<span>
				<h1 class="text-center">Run Beautiful Giveaways, Sweepstakes & Contests</h1>
				<h2 class="text-center">Create and customize apps in seconds. Publish on mobile, desktop and Facebook</h2>
				<br/>
				<br/>
				<br/>
			</span>
			<p class="text-center">
				<a href="/signup" class="btn btn-default btn-lg text-uppercase btn-extra-shadow btn-featured">Signup</a>
			</p>
		</div>
		<p class="text-center">
			<a href="javascript:void(0)" id="below-fold-anchor"><img src="/images/landing/chevron-down.png" class="animated fadeInDown" style="width: 50px"></a>
		</p>
	</header>
	<div class="container-fluid" id="below-fold">
		<div class="col-md-6 col-md-offset-3">
			<br/>
			<br/>
			<!-- <h2 class="text-center">A leaner, renewed platform for all your contests</h2> -->
			<h2 class="h1 text-center page-header">Three simple steps and you're good to go</h2>
			<!-- <h5 class="text-center">This is what a simpler, fast marketing tool should look like</h5> -->
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
		</div>
		<div class="col-md-12 flex flex-vertica flex-center" styl="margin-top: 100px">
			<div class="col-md-6">
				<div class="thumbnail">
					<!-- <img src="/images/landing/dashboard.gif" class="img-responsive" /> -->
					<video autoplay loop style="
					width: 100%;
					height: auto;
					">
						<source src="/images/landing/create3.mp4" type="video/mp4">
						<!-- <source src="movie.ogg" type="video/ogg"> -->
						Your browser does not support the video tag.
					</video>
				</div>
			</div>
			<div class="col-md-6 flex flex-vertical flex-center">
				<h2 class="h1"><b>Create</b></h2>
				<p>Pick one contest type.</p>
				<p>Write a title.</p>
				<p><b>Done</b>. Go to the next step.</p>
			</div>
		</div>
		<div class="col-md-12">
			<hr />
		</div>
		<div class="col-md-12 flex flex-center">
			<div class="col-md-6 flex flex-vertical flex-center text-right">
				<h2 class="h1"><b>Customize</b></h2>
				<p style="margin: 15px 0px">
					<img src="/images/landing/typography.png" style="height: 30px;margin-right: 10px;opacity: .5" />
					<img src="/images/landing/picture.png" style="height: 30px;margin-right: 10px;opacity: .5" />
					<img src="/images/landing/brush.png" style="height: 30px;margin-right: 10px;opacity: .5" />
					<img src="/images/landing/globe.png" style="height: 30px;margin-right: 10px;opacity: .5" />
				</p>
				<p>Adapt every single image, text and style to your brand.</p>
				<p>Every text is customizable, even inside buttons. That means you can translate the whole app to any language.</p>
				<p>We even support left-to-right languages</p>
			</div>
			<div class="col-md-6">
				<div class="thumbnail">
					<!-- <img src="/images/landing/editor.jpg" class="img-responsive" /> -->
					<video autoplay loop style="
					width: 100%;
					height: auto;
					">
						<source src="/images/landing/customize.mp4" type="video/mp4">
						<!-- <source src="movie.ogg" type="video/ogg"> -->
						Your browser does not support the video tag.
					</video>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<hr />
		</div>
		<div class="col-md-12 flex flex-vertica flex-center">
			<div class="col-md-6">
				<div class="thumbnail">
					<img src="/images/landing/screenfb.jpg" class="img-responsive" />
				</div>
			</div>
			<div class="col-md-6 flex flex-vertical flex-center">
				<h2 class="h1"><b>Publish</b></h2>
				<p style="margin: 15px 0px">
					<img src="/images/landing/iphone.png" style="height: 30px;margin-right: 10px;opacity: .5" />
					<img src="/images/landing/desktop.png" style="height: 30px;margin-right: 10px;opacity: .5" />
					<img src="/images/landing/facebook.png" style="height: 30px;margin-right: 10px;opacity: .5" />
				</p>
				<p>Your contest will be available as a Facebook Page tab, mobile, and desktop website.</p>
				<p>Share just one link accross all of your social networks, we show everyone the correct version for their screen.</p>
			</div>
		</div>
		<!--  -->
		<div class="col-md-12 hide" style="
			display: flex;
			justify-content: space-around;
		">
			<a href="javascript:void(0)" class="thumbnail slick-nav text-center" data-slick-index="1">
				<span class="number">1</span>
				<img src="/images/landing/dashboard.gif" class="img-responsive" style="height: 70px" />
				<div class="caption">
					<b>Create</b>
				</div>
			</a>
			<a href="javascript:void(0)" class="thumbnail slick-nav text-center" data-slick-index="2">
				<span class="number">2</span>
				<img src="/images/landing/editor.jpg" class="img-responsive" style="height: 70px" />
				<div class="caption">
					<b>Customize</b>
				</div>
			</a>
			<a href="javascript:void(0)" class="thumbnail slick-nav text-center" data-slick-index="3">
				<span class="number">3</span>
				<img src="/images/landing/screenfb.jpg" class="img-responsive" style="height: 70px" />
				<div class="caption">
					<b>Publish</b>
				</div>
			</a>
		</div>
		<div class="col-md-12 hide">
			<div class="coso">
				<div class="thumbnail">
					<img src="/images/landing/dashboard.gif" class="img-responsive">
				</div>
				<div class="thumbnail">
					<img src="/images/landing/editor.jpg" class="img-responsive">
				</div>
				<div class="thumbnail">
					<img src="/images/landing/screenfb.jpg" class="img-responsive">
				</div>
			</div>
		</div>
	</div>
	<hr/>
	<div class="container-fluid" id="our-apps">
		<div class="col-md-6 col-md-offset-3">
			<br/>
			<br/>
			<h2 class="text-center page-header">Our apps</h2>
			<h5 class="text-center">Each app is a completely different type of contest. <br/>Try many of them and you'll find out which type of promotions are preferred by your audience.</h5>
			<br/>
			<br/>
		</div>
		<div class="col-md-6 col-md-offset-3">
			<br/>
			<div class="media media-app">
				<div class="media-left">
					<a href="/top-fans-for-facebook-pages.html">
						<img class="media-object" src="/images/module-icons/top_fans-big.png" alt="Top Fans ranking for Facebook Pages">
					</a>
				</div>
				<div class="media-body">
					<h3 class="media-heading"><b>Top Fans</b></h3>
					<!-- <p>Rank your Facebook Page’s fans loyalty by likes and comments in real time. Customise the list design and show it in a Page Tab. Reset scores anytime you want.</p> -->
					<p>This app scans your Facebook Page's timeline, collects every like and comment, and then automatically produces a list of the most loyal fans ranked by score.</p>
					<p>The ranking is available as a Page tab and standalone website.</p>
					<p><a href="/top-fans-for-facebook-pages.html" class="btn btn-success text-uppercase btn-xs">Read More</a></p>
				</div>
			</div>
			<div class="media media-app media-disabled">
				<div class="media-left">
					<div href="#" class="disabled" disabled>
						<img class="media-object" src="/images/module-icons/photo_contest-big.png" alt="Top Fans ranking for Facebook Pages">
					</div>
				</div>
				<div class="media-body">
					<h3 class="media-heading"><b>Photo Contest</b></h3>
					<!-- <p>Rank your Facebook Page’s fans loyalty by likes and comments in real time. Customise the list design and show it in a Page Tab. Reset scores anytime you want.</p> -->
					<p><a href="#" class="btn btn-default text-uppercase btn-xs disabled">Coming soon</a></p>
				</div>
			</div>
			<div class="media media-app media-disabled">
				<div class="media-left">
					<div href="#" class="disabled" disabled>
						<img class="media-object" src="/images/module-icons/trivia-big.png" alt="Top Fans ranking for Facebook Pages">
					</div>
				</div>
				<div class="media-body">
					<h3 class="media-heading"><b>Trivia</b></h3>
					<!-- <p>Rank your Facebook Page’s fans loyalty by likes and comments in real time. Customise the list design and show it in a Page Tab. Reset scores anytime you want.</p> -->
					<p><a href="#" class="btn btn-default text-uppercase btn-xs disabled">Coming soon</a></p>
				</div>
			</div>
		</div>
	</div>
	<%- include('_upsell') %>
	<%- include('_footer') %>
	<%- include('_pushido') %>
	<%- include('_segment') %>
	<script type="text/javascript">
		analytics.page('Home')
	</script>
</body>
</html>