<!DOCTYPE html>
<html lang="en">
<%- include('_head', {title: 'InstallThisApp'}) %>
<body>
	<div class="container-flex flex-space-around flex-vertical container-full-height flex-grow">
		<div class="col-md-12">
			<br/>
			<a href="/" class="btn btn-default">← Back</a>
			<br/>
		</div>
		<div class="flex-grow flex flex-vertical flex-center">
			<div class="col-md-12">
				<h1 class="text-center h2">Login to your account</h1>
				<p class="text-center h4">Tip: If you were already using the old version, you still need to <a href="/signup">register</a> again here.</p>
			</div>
			<div class="col-md-4 col-md-offset-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<form id="login-form">
							<div class="form-group">
								<input type="email" id="email" class="form-control input-lg" placeholder="Email" required />
							</div>
							<div class="form-group">
								<input type="password" id="password" class="form-control input-lg" placeholder="Password" required />
							</div>
							<p><button type="submit" class="btn btn-primary btn-lg btn-block text-uppercase" id="login-button">Login</button></p>
						</form>
					</div>
				</div>
				<p><a href="/forgot"><small>Forgot your password?</small></a></p>
				<p><a href="/signup"><small>Don't have an account?</small></a></p>
				<br/>
				<br/>
				<br/>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="<%= cloudFrontUrl %>/node_modules/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="<%= cloudFrontUrl %>/node_modules/js-cookie/src/js.cookie.js"></script>
	<script type="text/javascript" src="<%= cloudFrontUrl %>/node_modules/whatwg-fetch/fetch.js"></script>
	<script>
		$(document).ready(function(){
			$('#login-form').submit(function(e){
				e.preventDefault()
				var email = $('#email').val()
				var password = $('#password').val()
				if (email && password) {
					$('#login-button').attr('disabled', true)
					$('#login-button').html('Please wait...')
					fetch('<%= apiUrl %>/auth/sign_in.json', {
						method: 'POST',
						headers: {
							'Accept': 'application/json',
							'Content-Type': 'application/json',
						},
						body: JSON.stringify({
							email: email,
							password: password
						})
					})
					.then(response => {
						if (response.ok) {
							Cookies.set('access-token', response.headers.get('access-token'))
							Cookies.set('token-type', response.headers.get('token-type'))
							Cookies.set('client', response.headers.get('client'))
							Cookies.set('uid', response.headers.get('uid'))
						}
						return response.json()
					})
					.then(json => {
						if (json.errors) {
							$('#login-button').attr('disabled', false)
							$('#login-button').html('Login')
							alert(json.errors)
						}
						else{
							top.location = location.protocol + '//' + window.location.host + '/d'
						}
					})
					.catch(exception =>
						console.log('parsing failed', exception)
					)
				}
			})
		})
	</script>
	<%- include('_scripts') %>
	<%- include('_segment') %>
	<script type="text/javascript">
		analytics.page('Login')
	</script>
</body>
</html>