<!DOCTYPE html>
<html lang="en">
<%- include('_head', {title: 'InstallThisApp'}) %>
<body>
	<div class="container-flex flex-space-around flex-vertical container-full-height flex-grow">
		<div class="flex-grow flex flex-vertical flex-center">
			<div class="col-md-12">
				<h1 class="text-center h2">Change your password</h1>
			</div>
			<div class="col-md-4 col-md-offset-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<form id="new-password-form">
							<div class="form-group">
								<input type="password" name="password" id="password" class="form-control input-lg" placeholder="New password">
							</div>
							<div class="form-group">
								<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirm new password">
							</div>
							<button type="submit" class="btn btn-primary btn-lg btn-block">Save my new password</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="<%= cloudFrontUrl %>/node_modules/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="<%= cloudFrontUrl %>/node_modules/js-cookie/src/js.cookie.js"></script>
	<script type="text/javascript" src="<%= cloudFrontUrl %>/node_modules/whatwg-fetch/fetch.js"></script>
	<script>
		var saveCookie = function(name, value){
			Cookies.set(name, value)
		}
		var forgot = function(){
			var password = $('#password').val()
			var password_confirmation = $('#password_confirmation').val()
			fetch('<%= apiUrl %>/auth/password.json', {
				method: 'PUT',
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json',
					'access-token':' <%= token %>',
					'uid': '<%= uid %>',
					'client': '<%= clientId %>',
				},
				body: JSON.stringify({
					password: $('#password').val(),
					password_confirmation: $('#password_confirmation').val()
				})
			}).then(response => {
				return response.json()
			})
			.then(json => {
				if (json.success) {
					top.location = location.protocol + '//' + window.location.host + '/login'
				}
				else{

				}
			})
			.catch(exception =>
				console.log('parsing failed', exception)
			)
		}
		$(document).ready(function(){
			$('#new-password-form').on('submit', function(e){
				e.preventDefault();
				forgot();
			})
		})
	</script>
	<%- include('_segment') %>
	<script type="text/javascript">
		// analytics.page('Reset password')
	</script>
</body>
</html>