<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" media="all" href="//fonts.googleapis.com/css?family=Lato:400,300italic,300,400italic,700,700italic,100,100italic" />
	<link rel="stylesheet" type="text/css" href="/landing/styles/styles.css" />
	<link rel="icon" type="image/png" href="/images/favicon.png" />
	<title>InstallThisApp</title>
</head>
<body>
	<span id="our-clients" class="hide"></span>
	<header class="jumbotron site-jumbotron white-text-area homepage-jumbotron home-header-2" id="large-header">
		<div class="container">
			<div>
				<h2>Reset your password</h2>
				<div class="form-group">
					<input type="password" name="password" id="password" class="form-control" placeholder="New password">
				</div>
				<div class="form-group">
					<input type="password" name="password_confirmation" id="password_confirmation" class="form-control" placeholder="Confirm new password">
				</div>
				<button type="submit" class="btn btn-default" onclick="javascript:forgot();">Save my new password</button>
			</div>
		</div>
	</header>
	<script type="text/javascript" src="/landing/landing.js"></script>
	<script type="text/javascript" src="/node_modules/js-cookie/src/js.cookie.js"></script>
	<script>
		var saveCookie = function(name, value){
			Cookies.set(name, value)
		}
		var forgot = function(){
			var password = $('#password').val()
			var password_confirmation = $('#password_confirmation').val()
			fetch('<%= apiUrl %>/auth/password.json', {
				method: 'PUT',
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json',
					'access-token':' <%= token %>',
					'uid': '<%= uid %>',
					'client': '<%= clientId %>',
				},
				body: JSON.stringify({
					password: $('#password').val(),
					password_confirmation: $('#password_confirmation').val()
				})
			}).then(response => {
				return response.json()
			})
			.then(json => {
				console.log('reset-password response')
				console.log(json)
				if (json.success) {
					top.location = location.protocol + '//' + window.location.host + '/'
				}
				else{

				}
			})
			.catch(exception =>
				console.log('parsing failed', exception)
			)
		}
	</script>
	<%- include('_segment') %>
	<script type="text/javascript">
		// analytics.page({
			// name:  'Home',
		// })
	</script>
</body>
</html>