<!DOCTYPE html>
<html lang="en">
<%- include('_head', {title: 'Signup to InstallThisApp'}) %>
<body>
	<div class="container-flex flex-space-around flex-vertical container-full-height flex-grow">
		<div class="col-md-12">
			<br/>
			<a href="/" class="btn btn-default">← Back</a>
			<br/>
		</div>
		<div class="flex-grow flex flex-vertical flex-center">
			<div class="col-md-12">
				<h1 class="text-center h2">Signup to InstallThisApp V3</h1>
				<p class="text-center h4">Tip: If you were already using the old version, you still need to register again here.</p>
			</div>
			<div class="col-md-4 col-md-offset-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<form id="signup-form">
							<div class="form-group">
								<input type="email" id="email" class="form-control input-lg" placeholder="Email" required />
							</div>
							<div class="form-group">
								<input type="password" id="password" class="form-control input-lg" placeholder="Password" required />
							</div>
							<hr />
							<div class="form-group hide">
								<input type="text" id="coupon" class="form-control input-lg" placeholder="Coupon code *" />
							</div>
							<p class="hide"><small>* Users with an active subscription at the <a href="https://installthisapp.com">legacy app</a> receive a coupon in order to use the new version for free. If you have a monhtly plan and haven’t received your coupon, please contact us.</small></p>
							<p>
								<button id="signup-button" type="submit" class="btn btn-primary btn-lg btn-block text-uppercase">Signup</button>
							</p>
						</form>
					</div>
				</div>
				<p class="text-right">Already signed up? <a href="/login">Login →</a></p>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="<%= cloudFrontUrl %>/node_modules/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="<%= cloudFrontUrl %>/node_modules/js-cookie/src/js.cookie.js"></script>
	<script type="text/javascript" src="<%= cloudFrontUrl %>/node_modules/whatwg-fetch/fetch.js"></script>
	<%- include('_login-script') %>
	<%- include('_register-script') %>
	<script>		
		$(document).ready(function(){
			$('#signup-form').on('submit', function(e){
				e.preventDefault()
				ITAregister()
			})
		})
	</script>
	<%- include('_scripts') %>
	<%- include('_segment') %>
	<script type="text/javascript">
		analytics.page('Signup')
	</script>
</body>
</html>