<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title><%= meta.title %></title>
<meta name="keywords" content="facebook lead ads, lead ads, lead ads integrations, lead ads notifications, lead ads mailchimp, lead ads zapier">
<meta name="description" content="<%= meta.description %>">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="distribution" content="global"/>
<meta name="resource-type" content="document"/>
<meta http-equiv="Pragma" content="cache"/>
<meta name="robots" content="all,index,follow"/>
<meta name="Revisit" content="7 days"/>
<meta property="og:title" content="<%= meta.description %>"/>
<meta property="og:url" content="http://www.pipelead.co"/>
<meta property="og:type" content="website"/>
<meta property="og:image" content="https://v3.installthisapp.com/images/leadgen-facebook-thumbnail.jpg"/>
<meta property="og:site_name" content="PipeLead"/>
<meta property="og:description" content="<%= meta.description %>"/>
<%- include('_styles') %>
<!-- lp:insertions start head -->
<link href="//builder-assets.unbounce.com/published/page-defaults-b629ba5.z.css" rel="stylesheet" media="screen" type="text/css"/>
<link rel="stylesheet" media="screen" href="//builder-assets.unbounce.com/published/jquery.ubpoverlay-45e86c0.z.css" type="text/css"/>
<script>window.module = window.module || {};</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
<script src="//builder-assets.unbounce.com/published/jquery.validate.min-3b750e1.z.js" type="text/javascript"></script>
<script src="//builder-assets.unbounce.com/published/additional-methods-09a5c5a.z.js" type="text/javascript"></script>
<script src="//builder-assets.unbounce.com/published/jquery.ubpoverlay-d9900bb.z.js" type="text/javascript"></script>
<script type="text/javascript" src="//d2xxq4ijfwetlm.cloudfront.net/m/lp-webapp/api/unbounce.js"></script>
<script type="text/javascript">
window.ub.page.id = "b7540bd8-2145-4926-b868-5e03ea309fe4";
window.ub.page.variantId = "a";
window.ub.page.usedAs = "main";
window.ub.page.name = "Lead Integrations";
window.ub.page.url = "http://unbouncepages.com/leadsync-integrations/";
window.ub.page.dimensions = {"desktop":{"width":940,"height":1588},"mobile":{"width":320,"height":2239}};
</script>
<script type="text/javascript">
var lp = lp || {};
lp.jQuery = jQuery.noConflict( true );
</script>
<script src="//builder-assets.unbounce.com/modules/lp-block/public/main-90cd9cc.z.js" type="text/javascript"></script>
<script src="//builder-assets.unbounce.com/published/matchMedia-ba7af92.z.js" type="text/javascript"></script>
<script src="//builder-assets.unbounce.com/modules/lp-image/public/main-8ff2ac3.z.js" type="text/javascript"></script>
<script src="//builder-assets.unbounce.com/modules/lp-text/public/main-428abbf.z.js" type="text/javascript"></script>
<script src="//builder-assets.unbounce.com/modules/lp-form/public/main-15aa9b2.z.js" type="text/javascript"></script>
<script src="//builder-assets.unbounce.com/modules/lp-button/public/main-d9cd5d4.z.js" type="text/javascript"></script>
<script>
window.redirectDomain = window.location.hostname
window.module = window.module || {};
window.module.lp = window.module.lp || {};
window.module.lp.form = window.module.lp.form || {};
window.module.lp.form.data = {"formContainerId":"lp-pom-form-65","errorContainerId":"lp-pom-form-65-errors","confirmAction":"url","passParams":true,"confirmData":"https://v3.installthisapp.com/signup?redirect=leadgen","confirmTarget":"_parent","validationRules":{"email":{"required":false,"email":true}},"validationMessages":{"email":{}},"formButtonId":"lp-pom-button-66"};
</script>
<script>lp.jQuery().ready(function() {lp.jQuery("#lp-pom-button-66").bind("click tap touchstart", function(e) {e.preventDefault();e.stopPropagation();lp.jQuery("div.lp-pom-form form").submit();});});</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
<script>
lp = lp || {};
lp.webFontLoad = {
	google: {
		families: ['PT Sans:400,400italic,700,700italic','Cabin:400,400italic,700,700italic','Arvo:400,400italic,700,700italic','Cabin:400,400italic,700,700italic','Lato:400,400italic,700,700italic']
	},
	active: function() {
	 if(lp && lp.text && typeof lp.text.fixTextHeights === "function")  {
		 lp.text.runTextFixes(true)
	 }
	}
};
window.WebFont.load(lp.webFontLoad);
</script>
<!--[if IE 7]>
<script>
(function() {
	var sheet = document.styleSheets[1];
	var rules = sheet.rules;
	var rule;
	var index = -1;
	for (var i=0, l=rules.length; i<l; i++){
		rule = rules[i];
		if (rule.selectorText.toLowerCase() == 'div.lp-pom-root .lp-pom-text span') {
			index = i;
			break;
		}
	}
	if (index > -1) {
		sheet.removeRule(index);
		sheet.addRule('div.lp-pom-root .lp-pom-text span', 'line-height:inherit');
	}
})();
</script>
<![endif]-->
<script src="//builder-assets.unbounce.com/published/ub-browser-879f873.z.js" type="text/javascript"></script>
<!-- lp:insertions end head -->
</head>
<body class="lp-pom-body ">
<!-- lp:insertions start body:before -->
<!-- lp:insertions end body:before -->
<div class="lp-element lp-pom-root" id="lp-pom-root">
	<div id="lp-pom-root-color-overlay">
	</div>
	<div class="lp-positioned-content">
		<div class="lp-element lp-pom-image" id="lp-pom-image-9">
			<div class="lp-pom-image-container" style="overflow: hidden;">
				<img src="/images/pipelead/logo-white.png" alt="">
			</div>
		</div>
		<div class="lp-element lp-pom-image" id="lp-pom-image-20">
			<div class="lp-pom-image-container" style="overflow: hidden;">
				<img src="/images/pipelead/logo-lila.png" alt="">
			</div>
		</div>
		<div class="lp-element lp-pom-image" id="lp-pom-image-21">
			<div class="lp-pom-image-container" style="overflow: hidden;">
				<img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/leadsync-integrations/18efd9af-mailchimpcolor_010012010012000000.png" alt="">
			</div>
		</div>
		<div class="lp-element lp-pom-image" id="lp-pom-image-22">
			<div class="lp-pom-image-container" style="overflow: hidden;">
				<img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/leadsync-integrations/a6608771-radius-shuffle-icon.png" alt="">
			</div>
		</div>
		<div class="lp-element lp-pom-image" id="lp-pom-image-23">
			<div class="lp-pom-image-container" style="overflow: hidden;">
				<img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/leadsync-integrations/cfe52901-mailcolor_00w00o00w00o000000.png" alt="">
			</div>
		</div>
		<div class="lp-element lp-pom-image" id="lp-pom-image-24">
			<div class="lp-pom-image-container" style="overflow: hidden;">
				<img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/leadsync-integrations/82955cbe-radius-wave-icon.png" alt="">
			</div>
		</div>
		<div class="lp-element lp-pom-image" id="lp-pom-image-25">
			<div class="lp-pom-image-container" style="overflow: hidden;">
				<img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/leadsync-integrations/transparent.gif" alt="">
			</div>
		</div>
		<div class="lp-element lp-pom-box" id="lp-pom-box-27">
			<div id="lp-pom-box-27-color-overlay">
			</div>
		</div>
		<div class="lp-element lp-pom-box" id="lp-pom-box-28">
			<div id="lp-pom-box-28-color-overlay">
			</div>
		</div>
		<div class="lp-element lp-pom-box" id="lp-pom-box-29">
			<div id="lp-pom-box-29-color-overlay">
			</div>
		</div>
		<div class="lp-element lp-pom-text nlh" id="lp-pom-text-30">
			<h1 style="text-align: center; line-height: 45px;">
				<!-- <span style="color: rgb(255, 255, 255); font-family: cabin; font-size: 50px; line-height: 45px; text-align: center;">Automated Facebook Lead Ads Integrations</span> -->
				<span style="color: rgb(255, 255, 255); font-family: cabin; font-size: 50px; line-height: 45px; text-align: center;">
					<%= content.h1 %>
				</span>
			</h1>
		</div>
		<div class="lp-element lp-pom-text nlh" id="lp-pom-text-31">
			<%- content.subheading %>
		</div>
		<div class="lp-element lp-pom-text nlh" id="lp-pom-text-32">
			<p class="lplh-22" style="text-align: center;">
				<span style="color: rgb(255, 255, 255);"><span style="font-weight: bolder;"><span style="font-family: cabin;">MailChimp, Webhooks, and many more integrations!</span></span></span>
			</p>
		</div>
		<div class="lp-element lp-pom-text nlh" id="lp-pom-text-34">
			<p style="text-align: center;">
				<em style="font-size: 26px; line-height: 42px; text-align: center;"><span style="font-family: arvo;"><span style="color: rgb(255, 255, 255);">&ldquo;With PipeLead, I have more free time to focus on my campaigns instead of manually updating every single tool I use&rdquo;</span></span></em>
			</p>
		</div>
		<div class="lp-element lp-pom-text nlh" id="lp-pom-text-35">
			<div class="lplh-20">
				<span style="font-size: 18px;"><span style="font-weight: bolder;"><span style="font-family: cabin;"><span style="color: rgb(255, 255, 255);">Damjan Markovič</span></span></span></span>
			</div>
			<div class="lplh-15">
				<span style="font-family: lato;"><span style="color: rgb(255, 255, 255);">Digital Marketing Strategist</span></span>
			</div>
			<div class="lplh-15">
				<span style="font-family: lato;"><span style="color: rgb(255, 255, 255);">Berlitz Slovenia</span></span>
			</div>
		</div>
		<div class="lp-element lp-pom-box" id="lp-pom-box-36">
			<div id="lp-pom-box-36-color-overlay">
			</div>
			<div class="lp-element lp-pom-image" id="lp-pom-image-26">
				<div class="lp-pom-image-container" style="overflow: hidden;">
					<img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/leadsync-integrations/a7697f9f-128_01d01d01d01d000000.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="lp-element lp-pom-text nlh" id="lp-pom-text-39">
			<p style="text-align: right;">
				<span style="text-align: right; color: rgb(187, 187, 187);"><span style="font-family: cabin;">Keep in touch via&nbsp;</span></span><a data-action="url" data-params="false" href="http://twitter.com/InstallThisApp" style="text-align: right;" target="_blank"><span style="color: rgb(134, 95, 209);"><span style="font-family: cabin;">Twitter</span></span></a><span style="text-align: right; color: rgb(187, 187, 187);"><span style="font-family: cabin;">&nbsp; &nbsp;| &nbsp;&nbsp;</span></span><a data-action="url" data-params="false" href="https://v3.installthisapp.com/privacy-policy" style="text-align: right;" target="_blank"><span style="color: rgb(134, 95, 209);"><span style="font-family: cabin;">Privacy Policy</span></span></a>
			</p>
		</div>
		<div class="lp-element lp-pom-text nlh" id="lp-pom-text-40">
			<p style="text-align: center;">
				<span style="color: rgb(187, 187, 187); font-family: cabin;">&copy; InstallThisApp.com</span>
			</p>
		</div>
		<div class="lp-element lp-pom-box" id="lp-pom-box-45">
			<div id="lp-pom-box-45-color-overlay">
			</div>
		</div>
		<div class="lp-element lp-pom-image" id="lp-pom-image-46">
			<div class="lp-pom-image-container" style="overflow: hidden;">
				<img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/leadsync-integrations/b3108b04-radius-arrow_025025025025000000.gif" alt="">
			</div>
		</div>
		<div class="lp-element lp-pom-text nlh" id="lp-pom-text-50">
			<p class="lplh-9">
				<span style="font-size: 21px;"><span style="font-family: cabin;"><span style="color: rgb(89, 92, 206);">Email Notifications</span></span></span>
			</p>
			<p class="lplh-26">
				<span style="font-size: 16px;"><span style="font-family: lato;"><span style="color: rgb(102, 102, 102);">Send each new lead to one or several email addresses, with all of the form fields.</span></span></span>
			</p>
		</div>
		<div class="lp-element lp-pom-text nlh" id="lp-pom-text-51">
			<p class="lplh-9" style="line-height: 24px;">
				<span style="font-size: 21px;"><span style="font-family: cabin;"><span style="color: rgb(89, 92, 206);">Auto-Add to MailChimp&trade; lists</span></span></span>
			</p>
			<p class="lplh-26" style="line-height: 24px;">
				<span style="font-size: 16px;"><span style="font-family: lato;"><span style="color: rgb(102, 102, 102);">We integrate with MailChimp so you can send Leads from each form to a different List.</span></span></span>
			</p>
		</div>
		<div class="lp-element lp-pom-text nlh" id="lp-pom-text-52">
			<p class="lplh-9">
				<span style="font-size: 21px;"><span style="font-family: cabin;"><span style="color: rgb(89, 92, 206);">Webhook notifications</span></span></span>
			</p>
			<p class="lplh-26">
				<span style="font-size: 16px;"><span style="font-family: lato;"><span style="color: rgb(102, 102, 102);">Enter any URL and we'll post the Lead's form data -- with all of the fields. Great option if you need to save leads in a database.</span></span></span>
			</p>
		</div>
		<div class="lp-element lp-pom-text nlh" id="lp-pom-text-53">
			<p class="lplh-9">
				<span style="font-size: 21px;"><span style="font-family: cabin;"><span style="color: rgb(89, 92, 206);">Real-time updates</span></span></span>
			</p>
			<p class="lplh-26">
				<span style="font-size: 16px;"><span style="font-family: lato;"><span style="color: rgb(102, 102, 102);">We receive updates from Facebook in real time. Each new lead is instantly sent to all of your active destinations.</span></span></span>
			</p>
		</div>
		<div class="lp-element lp-pom-form" id="lp-pom-form-65">
			<form action="https://v3.installthisapp.com/signup?redirect=leadgen" method="GET">
				<input type="hidden" name="pageId" value="b7540bd8-2145-4926-b868-5e03ea309fe4"><input type="hidden" name="pageVariant" value="a">
				<fieldset class="clearfix">
					<div class="lp-pom-form-field legacy clearfix" id="container_email">
						<label for="email" class="main lp-form-label" id="label_email"><span class="labelStyle">Your Email</span></label><input type="text" id="email" name="email" placeholder="" class="text form_elem_email">
					</div>
				</fieldset>
				<input type="text" id="ZAmRLn4R1s5BBfsBBy54ixQoXRVZ9Io2" name="ubafs-ZAmRLn4R1s5BBfsBBy54ixQoXRVZ9Io2" style="display:none !important;">
			</form>
			<a class="lp-element lp-pom-button" id="lp-pom-button-66" href="#"><span class="label">GET STARTED</span></a>
		</div>
	</div>
	<div class="lp-element lp-pom-block" id="lp-pom-block-8">
		<div id="lp-pom-block-8-color-overlay">
		</div>
		<div class="lp-pom-block-content">
		</div>
	</div>
	<div class="lp-element lp-pom-block" id="lp-pom-block-10">
		<div id="lp-pom-block-10-color-overlay">
		</div>
		<div class="lp-pom-block-content">
		</div>
	</div>
	<div class="lp-element lp-pom-block" id="lp-pom-block-12">
		<div id="lp-pom-block-12-color-overlay">
		</div>
		<div class="lp-pom-block-content">
		</div>
	</div>
	<div class="lp-element lp-pom-block" id="lp-pom-block-14">
		<div id="lp-pom-block-14-color-overlay">
		</div>
		<div class="lp-pom-block-content">
		</div>
	</div>
	<!-- lp:insertions start body:after -->
	<div id="lp-pom-image-25-holder" class="lp-pom-image-holder">
	</div>
	<div id="lp-pom-form-65-errors" class="lp-form-errors">
		<div class="content">
			<div class="error">
				<span class="error-msg">Fix the following errors:</span>
				<div class="error-button">
					<span class="error-toggle-arrow"></span><span class="error-toggle">Hide</span>
				</div>
			</div>
			<ul>
			</ul>
		</div>
	</div>
	<script type="text/javascript">
	function updateViewport() {
		var viewport = document.querySelector('meta[name="viewport"]');
		if (viewport && window.innerWidth > 600 && window.innerWidth < 1024) {
			var defaultDeviceWidth = window.innerWidth;
			var defaultPageWidth = document.getElementById('lp-pom-root').offsetWidth;
			var calculatedScale = (defaultDeviceWidth / defaultPageWidth);
			var viewportContent = 'initial-scale=' + calculatedScale + ', user-scalable=yes';
			if (defaultDeviceWidth >= defaultPageWidth) {
				viewportContent = 'initial-scale=1.0, ' + 'width=device-width, ' + 'user-scalable=yes';
			}
			viewport.content = viewportContent;
		}
	}
	lp.jQuery(document).ready(updateViewport);
	window.addEventListener('orientationchange', updateViewport);
	</script>
	<script>
function disableParallaxOnMobile() {
	if (navigator.userAgent.match(/(Android|iPod|iPhone|iPad|iemobile|blackberry)/)) {
		var parallaxEls = lp.jQuery('.lp-pom-root, .lp-pom-block');
		for (i = 0; i < parallaxEls.length; i++) {
			var parallaxEl = parallaxEls[i];
			if (lp.jQuery(parallaxEl).css('background-attachment') === 'fixed') {
				parallaxEl.style['background-attachment'] = 'scroll';
			};
		};
	}
}
disableParallaxOnMobile();
window.addEventListener("orientationchange", function() {
	disableParallaxOnMobile();
}, false);
	</script>
	<script type="text/javascript">// See README.md for documentation
lp.jQuery().ready(function($) {
	$('input[name^=ubafs-]', 'form').remove();
	var info = JSON.stringify({
		date: new Date(),
		agent: navigator.userAgent,
		screen: {
			availWidth: screen.availWidth,
			availHeight: screen.availHeight,
			width: screen.width,
			height: screen.height
		},
		window: {
			innerWidth: window.innerWidth,
			innerHeight: window.innerHeight
		},
		hasPlugins: ('length' in navigator.plugins && navigator.plugins.length > 0)
	});
	// var jevField = $('<input type="hidden" id="ubafs-jev" name="ubafs-jev">').val(info);
	// $('form').append(jevField);
});
	</script>
	<!-- lp:insertions end body:after -->
	<!-- google analytics -->
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-85360676-4', 'auto');
	ga('send', 'pageview');
	</script>
</body>
</html>