<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%= meta.title %></title>
	<meta name="keywords" content="facebook lead ads, lead ads, lead ads integrations, lead ads notifications, lead ads mailchimp, lead ads zapier">
	<meta name="description" content="<%= meta.description %>">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="distribution" content="global"/>
	<meta name="resource-type" content="document"/>
	<meta http-equiv="Pragma" content="cache"/>
	<meta name="robots" content="all,index,follow"/>
	<meta name="Revisit" content="7 days"/>
	<meta property="og:title" content="<%= meta.description %>"/>
	<meta property="og:url" content="http://www.pipelead.co"/>
	<meta property="og:type" content="website"/>
	<meta property="og:image" content="https://v3.installthisapp.com/images/leadgen-facebook-thumbnail.jpg"/>
	<meta property="og:site_name" content="PipeLead"/>
	<meta property="og:description" content="<%= meta.description %>"/>
	<link rel="shortcut icon" href="<%= cloudFrontUrl %>/public/pipelead/images/logo-rombo-100.png">
	<%- include('_styles') %>
</head>
<body class="lp-pom-body ">
<!-- lp:insertions start body:before -->
<!-- lp:insertions end body:before -->
<div class="lp-element lp-pom-root" id="lp-pom-root">
	<div id="lp-pom-root-color-overlay">
	</div>
	<div class="lp-positioned-content">
		<div class="lp-element lp-pom-image" id="login-link">
			<a href="/login?redirect=leadgen">Login »</a>
		</div>
		<div class="lp-element lp-pom-image" id="lp-pom-image-9">
			<div class="lp-pom-image-container" style="overflow: hidden;">
				<img src="/images/pipelead/logo-white.png" alt="">
			</div>
		</div>
		<div class="lp-element lp-pom-image" id="lp-pom-image-20">
			<div class="lp-pom-image-container" style="overflow: hidden;">
				<img src="/images/pipelead/logo-lila.png" alt="">
			</div>
		</div>
		<div class="lp-element lp-pom-image" id="lp-pom-image-21">
			<div class="lp-pom-image-container" style="overflow: hidden;">
				<img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/leadsync-integrations/18efd9af-mailchimpcolor_010012010012000000.png" alt="">
			</div>
		</div>
		<div class="lp-element lp-pom-image" id="lp-pom-image-22">
			<div class="lp-pom-image-container" style="overflow: hidden;">
				<img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/leadsync-integrations/a6608771-radius-shuffle-icon.png" alt="">
			</div>
		</div>
		<div class="lp-element lp-pom-image" id="lp-pom-image-23">
			<div class="lp-pom-image-container" style="overflow: hidden;">
				<img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/leadsync-integrations/cfe52901-mailcolor_00w00o00w00o000000.png" alt="">
			</div>
		</div>
		<div class="lp-element lp-pom-image" id="lp-pom-image-24">
			<div class="lp-pom-image-container" style="overflow: hidden;">
				<img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/leadsync-integrations/82955cbe-radius-wave-icon.png" alt="">
			</div>
		</div>
		<!-- <div class="lp-element lp-pom-image" id="lp-pom-image-25">
			<div class="lp-pom-image-container" style="overflow: hidden;">
				<img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/leadsync-integrations/transparent.gif" alt="">
			</div>
		</div> -->
		<div class="lp-element lp-pom-image" id="lp-pom-image-25">
			<div class="lp-pom-image-container" style="overflow:hidden">
				<img src="http://www.pipelead.co/images/pipelead/pipelead-image.png" alt="" />
			</div>
		</div>
		<div class="lp-element lp-pom-box" id="lp-pom-box-27">
			<div id="lp-pom-box-27-color-overlay">
			</div>
		</div>
		<div class="lp-element lp-pom-box" id="lp-pom-box-28">
			<div id="lp-pom-box-28-color-overlay">
			</div>
		</div>
		<div class="lp-element lp-pom-box" id="lp-pom-box-29">
			<div id="lp-pom-box-29-color-overlay">
			</div>
		</div>
		<div class="lp-element lp-pom-text nlh" id="lp-pom-text-30">
			<h1 style="text-align: center; line-height: 45px;">
				<span style="color: rgb(255, 255, 255); font-family: cabin; font-size: 50px; line-height: 45px; text-align: center;">
					<%= content.h1 %>
				</span>
			</h1>
		</div>
		<div class="lp-element lp-pom-text nlh" id="lp-pom-text-31">
			<%- content.subheading %>
		</div>
		<div class="lp-element lp-pom-text nlh" id="lp-pom-text-32">
			<p class="lplh-22" style="text-align: center;">
				<span style="color: rgb(255, 255, 255);"><span style="font-weight: bolder;"><span style="font-family: cabin;">MailChimp, Webhooks, and many more integrations!</span></span></span>
			</p>
		</div>
		<div class="lp-element lp-pom-text nlh" id="lp-pom-text-34">
			<p style="text-align: center;">
				<em style="font-size: 26px; line-height: 42px; text-align: center;"><span style="font-family: arvo;"><span style="color: rgb(255, 255, 255);">&ldquo;With PipeLead, I have more free time to focus on my campaigns instead of manually updating every single tool I use&rdquo;</span></span></em>
			</p>
		</div>
		<div class="lp-element lp-pom-text nlh" id="lp-pom-text-35">
			<div class="lplh-20">
				<span style="font-size: 18px;"><span style="font-weight: bolder;"><span style="font-family: cabin;"><span style="color: rgb(255, 255, 255);">Damjan Markovič</span></span></span></span>
			</div>
			<div class="lplh-15">
				<span style="font-family: lato;"><span style="color: rgb(255, 255, 255);">Digital Marketing Strategist</span></span>
			</div>
			<div class="lplh-15">
				<span style="font-family: lato;"><span style="color: rgb(255, 255, 255);">Berlitz Slovenia</span></span>
			</div>
		</div>
		<div class="lp-element lp-pom-box" id="lp-pom-box-36">
			<div id="lp-pom-box-36-color-overlay">
			</div>
			<div class="lp-element lp-pom-image" id="lp-pom-image-26">
				<div class="lp-pom-image-container" style="overflow: hidden;">
					<img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/leadsync-integrations/a7697f9f-128_01d01d01d01d000000.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="lp-element lp-pom-text nlh" id="lp-pom-text-39">
			<p style="text-align: right;">
				<span style="text-align: right; color: rgb(187, 187, 187);"><span style="font-family: cabin;">Keep in touch via&nbsp;</span></span><a data-action="url" data-params="false" href="http://twitter.com/InstallThisApp" style="text-align: right;" target="_blank"><span style="color: rgb(134, 95, 209);"><span style="font-family: cabin;">Twitter</span></span></a><span style="text-align: right; color: rgb(187, 187, 187);"><span style="font-family: cabin;">&nbsp; &nbsp;| &nbsp;&nbsp;</span></span><a data-action="url" data-params="false" href="https://v3.installthisapp.com/privacy-policy" style="text-align: right;" target="_blank"><span style="color: rgb(134, 95, 209);"><span style="font-family: cabin;">Privacy Policy</span></span></a>
			</p>
		</div>
		<div class="lp-element lp-pom-text nlh" id="lp-pom-text-40">
			<p style="text-align: center;">
				<span style="color: rgb(187, 187, 187); font-family: cabin;">&copy; InstallThisApp.com</span>
			</p>
		</div>
		<div class="lp-element lp-pom-box" id="lp-pom-box-45">
			<div id="lp-pom-box-45-color-overlay">
			</div>
		</div>
		<div class="lp-element lp-pom-image" id="lp-pom-image-46">
			<div class="lp-pom-image-container" style="overflow: hidden;">
				<img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/leadsync-integrations/b3108b04-radius-arrow_025025025025000000.gif" alt="">
			</div>
		</div>
		<div class="lp-element lp-pom-text nlh" id="lp-pom-text-50">
			<p class="lplh-9">
				<span style="font-size: 21px;"><span style="font-family: cabin;"><span style="color: rgb(89, 92, 206);">Email Notifications</span></span></span>
			</p>
			<p class="lplh-26">
				<span style="font-size: 16px;"><span style="font-family: lato;"><span style="color: rgb(102, 102, 102);">Send each new lead to one or several email addresses, with all of the form fields.</span></span></span>
			</p>
		</div>
		<div class="lp-element lp-pom-text nlh" id="lp-pom-text-51">
			<p class="lplh-9" style="line-height: 24px;">
				<span style="font-size: 21px;"><span style="font-family: cabin;"><span style="color: rgb(89, 92, 206);">Auto-Add to MailChimp&trade; lists</span></span></span>
			</p>
			<p class="lplh-26" style="line-height: 24px;">
				<span style="font-size: 16px;"><span style="font-family: lato;"><span style="color: rgb(102, 102, 102);">We integrate with MailChimp so you can send Leads from each form to a different List.</span></span></span>
			</p>
		</div>
		<div class="lp-element lp-pom-text nlh" id="lp-pom-text-52">
			<p class="lplh-9">
				<span style="font-size: 21px;"><span style="font-family: cabin;"><span style="color: rgb(89, 92, 206);">Webhook notifications</span></span></span>
			</p>
			<p class="lplh-26">
				<span style="font-size: 16px;"><span style="font-family: lato;"><span style="color: rgb(102, 102, 102);">Enter any URL and we'll post the Lead's form data -- with all of the fields. Great option if you need to save leads in a database.</span></span></span>
			</p>
		</div>
		<div class="lp-element lp-pom-text nlh" id="lp-pom-text-53">
			<p class="lplh-9">
				<span style="font-size: 21px;"><span style="font-family: cabin;"><span style="color: rgb(89, 92, 206);">Real-time updates</span></span></span>
			</p>
			<p class="lplh-26">
				<span style="font-size: 16px;"><span style="font-family: lato;"><span style="color: rgb(102, 102, 102);">We receive updates from Facebook in real time. Each new lead is instantly sent to all of your active destinations.</span></span></span>
			</p>
		</div>
		<div class="lp-element lp-pom-form" id="lp-pom-form-65">
			<form action="/signup?" method="GET">
				<fieldset class="clearfix">
					<div class="lp-pom-form-field legacy clearfix" id="container_email">
						<label for="email" class="main lp-form-label" id="label_email"><span class="labelStyle">Your Email</span></label><input type="text" id="email" name="email" placeholder="" class="text form_elem_email">
					</div>
				</fieldset>
				<input type="hidden" name="redirect" value="leadgen">
				<button class="lp-element lp-pom-button" type="submit" id="lp-pom-button-66"><span class="label">GET STARTED</span></button>
			</form>
			<p id="login-paragraph" style="font-family: cabin;">Already have an account? <a href="/login?redirect=leadgen"> Log in here </a> </p>
		</div>
	</div>
	<div class="lp-element lp-pom-block" id="lp-pom-block-8">
		<div id="lp-pom-block-8-color-overlay">
		</div>
		<div class="lp-pom-block-content">
		</div>
	</div>
	<div class="lp-element lp-pom-block" id="lp-pom-block-10">
		<div id="lp-pom-block-10-color-overlay">
		</div>
		<div class="lp-pom-block-content">
		</div>
	</div>
	<div class="lp-element lp-pom-block" id="lp-pom-block-12">
		<div id="lp-pom-block-12-color-overlay">
		</div>
		<div class="lp-pom-block-content">
		</div>
	</div>
	<div class="lp-element lp-pom-block" id="lp-pom-block-14">
		<div id="lp-pom-block-14-color-overlay">
		</div>
		<div class="lp-pom-block-content">
		</div>
	</div>
	<!-- lp:insertions start body:after -->
	<div id="lp-pom-image-25-holder" class="lp-pom-image-holder">
	</div>
	<div id="lp-pom-form-65-errors" class="lp-form-errors">
		<div class="content">
			<div class="error">
				<span class="error-msg">Fix the following errors:</span>
				<div class="error-button">
					<span class="error-toggle-arrow"></span><span class="error-toggle">Hide</span>
				</div>
			</div>
			<ul>
			</ul>
		</div>
	</div>
	<link rel="stylesheet" type="text/css" href="<%= cloudFrontUrl %>/public/pipelead/styles/unbounce-a/defaults.css">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript">
		var lp = lp || {};
		lp.jQuery = jQuery.noConflict( true );
	</script>
	<script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
	<script>
		lp = lp || {};
		lp.webFontLoad = {
			google: {
				families: ['PT Sans:400,400italic,700,700italic','Cabin:400,400italic,700,700italic','Arvo:400,400italic,700,700italic','Cabin:400,400italic,700,700italic','Lato:400,400italic,700,700italic']
			},
			active: function() {
			 if(lp && lp.text && typeof lp.text.fixTextHeights === "function")  {
				 lp.text.runTextFixes(true)
			 }
			}
		};
		window.WebFont.load(lp.webFontLoad);
	</script>
	<script type="text/javascript">
		function updateViewport() {
			var viewport = document.querySelector('meta[name="viewport"]');
			if (viewport && window.innerWidth > 600 && window.innerWidth < 1024) {
				var defaultDeviceWidth = window.innerWidth;
				var defaultPageWidth = document.getElementById('lp-pom-root').offsetWidth;
				var calculatedScale = (defaultDeviceWidth / defaultPageWidth);
				var viewportContent = 'initial-scale=' + calculatedScale + ', user-scalable=yes';
				if (defaultDeviceWidth >= defaultPageWidth) {
					viewportContent = 'initial-scale=1.0, ' + 'width=device-width, ' + 'user-scalable=yes';
				}
				viewport.content = viewportContent;
			}
		}
		lp.jQuery(document).ready(updateViewport);
		window.addEventListener('orientationchange', updateViewport);
	</script>
	<script>
		function disableParallaxOnMobile() {
			if (navigator.userAgent.match(/(Android|iPod|iPhone|iPad|iemobile|blackberry)/)) {
				var parallaxEls = lp.jQuery('.lp-pom-root, .lp-pom-block');
				for (i = 0; i < parallaxEls.length; i++) {
					var parallaxEl = parallaxEls[i];
					if (lp.jQuery(parallaxEl).css('background-attachment') === 'fixed') {
						parallaxEl.style['background-attachment'] = 'scroll';
					};
				};
			}
		}
		disableParallaxOnMobile();
		window.addEventListener("orientationchange", function() {
			disableParallaxOnMobile();
		}, false);
	</script>
	<%- disableSegment  ? include('../_disable-segment') : include('../_segment') %>
	<script type="text/javascript">
		analytics.page('PipeLead Home')
	</script>
</body>
</html>