<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" media="all" href="//fonts.googleapis.com/css?family=Lato:400,400italic,300,300italic,200,200italic" />
	<link rel="icon" type="image/png" href="/images/favicon.png" />
	<link rel="manifest" href="/public/manifest.json">
	<title><%= title %></title>
	<link rel="stylesheet" media="all" href="<%= cloudFrontUrl %><%= cssBundle %>" />

	<!-- stuff for SEO -->
	<meta name="description" content="<%= copyGroup['h1'] %>" />
	<meta name="keywords" content="social media contest, viral contest, custom contests, facebook business page, facebook for business, facebook page apps, photo contest, image contest, votes contest, contest app, facebook game, facebook tab, facebook app" />
	<meta name="distribution" content="global"/>
	<meta name="resource-type" content="document"/>
	<meta http-equiv="Pragma" content="cache"/>
	<meta name="robots" content="all,index,follow"/>
	<meta name="Revisit" content="7 days"/>
	<meta property="og:title" content="<%= title %>" />
	<meta property="og:url" content="<%= currentUrl %>"/>
	<meta property="og:type" content="website" />
	<meta property="og:image" content="<%= cloudFrontUrl %>/images/campaign/og.jpg"/>
	<meta property="og:site_name" content="InstallThisApp"/>
	<meta property="og:description" content="<%= copyGroup['h1'] %>"/>
	<script>
		window.utm_source_cache_for_tracking = '<%= req.query.utm_source %>'
	</script>
</head>