<!DOCTYPE html>
<html lang="en">
<%- include('_head', { title: copyGroup['title'] }) %>
<body>
	<header class="header">
		<div class="container">
			<div class="col-md-12 text-center">
				<p class="text-right"><small><a href="https://v3.installthisapp.com" style="color: white;" target="_blank">Read more →</a></small></p>
				<h3><img src="/images/campaign/logo-white.png" /></h3>
				<h1 class="title-main"><%- copyGroup['h1'] %></h1>
				<h2 class="title-sub"><%= copyGroup['h2'] %></h2>
			</div>
		</div>
		<section class="content container " style="display: flex;">
			<div style="display: flex;width: 100%;">
				<div class="col-md-12" style="
					display: flex;
					align-items: center;
					justify-content: center;
				">
					<img src="/images/campaign/hero-1.png" class="img-responsive" />
				</div>
			</div>
		</section>
	</header>
	<section class="cta-area" style="height: auto;">
		<div class="col-md-12" style="
			display: flex;
			align-items: center;
			justify-content: space-around;
			flex-direction: column;
		">
			<h3 class="title-footer text-center"><%= copyGroup['cta-title'] %></h3>
			<br/>
			<form class="form-inline lead-form">
				<div class="input-group cta-input-group">
					<input type="email" name="email" class="form-control input-lg cta-input lead-email" required placeholder="<%= copyGroup['cta-input-placeholder'] %>" />
					<span class="input-group-btn">
						<button class="btn btn-success btn-lg cta-button" type="submit"><%= copyGroup['cta-button'] %></button>
					</span>
				</div>
				<div class="alert alert-danger lead-form-alert" style="display: none">
					Please use a valid email address
				<div>
			</form>
		</div>
	</section>
	<section class="block-list">
		<div class="block-list-item">
			<h2 class="block-list-item-title"><%= copyGroup['block-list-title-1'] %></h2>
			<br/>
			<ul class="list-unstyled list-checks">
				<% copyGroup['block-list-1'].map(function(listItem) { %>
					<li><span class="glyphicon glyphicon-ok"></span><%= listItem %></li>
				<% }) %>
			</ul>
		</div>
		<div class="block-list-item white">
			<div class="thumbnail">
				<video id="customize" loop style="
				width: 100%;
				height: auto;
				">
					<source src="/images/landing/customize-trivia.mp4" type="video/mp4">
					Your browser does not support the video tag.
				</video>
			</div>
		</div>
	</section>
	<section class="block-list">
		<div class="block-list-item white">
			<div class="thumbnail">
				<video id="publish" loop style="
				width: 100%;
				height: auto;
				">
					<source src="/images/landing/publish-trivia.mp4" type="video/mp4">
					Your browser does not support the video tag.
				</video>
			</div>
		</div>
		<div class="block-list-item">
			<h2 class="block-list-item-title"><%= copyGroup['block-list-title-2'] %></h2>
			<br/>
			<ul class="list-unstyled list-checks">
				<% copyGroup['block-list-2'].map(function(listItem) { %>
					<li><span class="glyphicon glyphicon-ok"></span><%= listItem %></li>
				<% }) %>
			</ul>
		</div>
	</section>
	<section class="cta-area">
		<div class="col-md-12" style="
			display: flex;
			align-items: center;
			justify-content: space-around;
			flex-direction: column;
		">
			<h3 class="title-footer text-center"><%= copyGroup['cta-title'] %></h3>
			<br/>
			<form class="form-inline lead-form">
				<div class="input-group cta-input-group">
					<input type="email" name="email" class="form-control input-lg cta-input lead-email" required placeholder="<%= copyGroup['cta-input-placeholder'] %>" />
					<span class="input-group-btn">
						<button class="btn btn-success btn-lg cta-button" type="submit"><%= copyGroup['cta-button'] %></button>
					</span>
				</div>
				<div class="alert alert-danger lead-form-alert" style="display: none">
					Please use a valid email address
				<div>
			</form>
		</div>
	</section>
	<%- include('_overlay') %>
	<%- include('_scripts') %>
</body>
</html>