<!DOCTYPE html>
<html lang="en">
<%- include('_head', { title: copyGroup['title'] }) %>
<body>
	<header class="header">
		<div class="container">
			<div class="col-md-12 text-center">
				<p class="text-right"><small><a href="https://v3.installthisapp.com" style="color: white;" target="_blank">Read more →</a></small></p>
				<h3><img src="/images/campaign/logo-white.png" /></h3>
				<h1 class="title-main"><%- copyGroup['h1'] %></h1>
				<h2 class="title-sub"><%= copyGroup['h2'] %></h2>
			</div>
		</div>
	</header>
	<section class="content container" style="display: flex;">
		<div style="display: flex;width: 100%;">
			<div class="col-md-6" style="
				display: flex;
				align-items: center;
				justify-content: flex-end;
			">
				<ul class="list-unstyled list-checks">
					<% copyGroup['list'].map(function(listItem) { %>
						<li><span class="glyphicon glyphicon-ok"></span><%= listItem %></li>
					<% }) %>
				</ul>
			</div>
			<div class="col-md-6" style="
				display: flex;
				align-items: center;
				justify-content: flex-end;
			">
				<img src="/images/campaign/hero-1.png" class="img-responsive" />
			</div>
		</div>
	</section>
	<footer class="footer">
		<div class="container">
			<div class="col-md-12" style="
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-direction: column;
			">
				<h3 class="title-footer text-center"><%= copyGroup['cta-title'] %></h3>
				<br/>
				<form class="form-inline lead-form">
					<div class="input-group cta-input-group">
						<input type="email" name="email" class="form-control input-lg cta-input lead-email" required placeholder="<%= copyGroup['cta-input-placeholder'] %>" />
						<span class="input-group-btn">
							<button class="btn btn-success btn-lg cta-button" type="submit"><%= copyGroup['cta-button'] %></button>
						</span>
					</div>
					<div class="alert alert-danger lead-form-alert" style="display: none">
						Please use a valid email address
					<div>
				</form>
			</div>
		</div>
	</footer>
	<%- include('_overlay') %>
	<%- include('_scripts') %>
</body>
</html>