<!DOCTYPE html>
<html lang="en">
<%- include('../_head', {title: 'Customizable Facebook apps'}) %>
<body>
	<%- include('_navbar') %>
	
	<header class="jumbotron site-jumbotron white-text-area header-apps-page">
		<div class="container">
			<div class="header-magic-appearance">
				<h1 class="text-center site-title">An ever-growing suite of apps</h1>
				<p class="text-center site-subtitle">All of our apps are built upon our own rock-solid platform, <br/>meaning they all share the stats and user management features, while still keeping their uniqueness</p>
			</div>
		</div>
	</header>
	<section class="section">
		<div class="container text-center-xs">
			<h2 class="h1 text-center app-list-title col-md-12">Promotions, contests & sweepstakes apps</h2>
			<%
			var theApps = [
				{
					title: "Trivia",
					excerpt: "Show a series of multiple choice questions, and add some difficulty with a countdown clock.",
					url: "/trivia-contest.html",
					image: "trivia",
				},
				{
					title: "Top Fans",
					excerpt: "Display your top fans in your Facebook page and reward them.",
					url: "/top-fans-for-facebook-pages.html",
					image: "top_fans",
				},
				{
					title: "Photo Contest",
					excerpt: "Users upload photos from their computers of mobile phones. Then, they share links to your app asking for votes. Extremely viral!",
					url: "/photo-contest.html",
					image: "photo_contest",
				},
				{
					title: "Memory Match",
					excerpt: "Users train up their memory with this matching game. They should use as few tries as possible in the shortest time possible.",
					url: "#",
					image: "memory_match",
				},
			]
			theApps.map(app => { %>
			<div class="col-md-4">
				<div class="app-preview-list-item">
					<p class="text-center"><a href="<%= app.url %>"><span class="app-icon sprite sprite-<%= app.image %>"></span></a></p>
					<h3 class="app-title text-center"><%= app.title %></h3>
					<div class="col-md-7">
						<p><%= app.excerpt %></p>
					</div>
					<div class="col-md-5">
						<p><a href="/signup" rel="nofollow">Install Now</a></p>
						<p><small><a href="<%= app.url %>">More details</a></small><br/>
					</div>
				</div>
			</div>
			<% }) %>
			<h2 class="h1 text-center app-list-title col-md-12">Coming Soon</h2>
			<%
			var theApps = [
				{
					title: "Forms",
					url: "#",
					image: "forms",
					excerpt: "Add a fully customizable form to your Facebook page.",
				},
				{
					title: "Catalog",
					url: "#",
					image: "catalog",
					excerpt: "Display all your products in this beautiful app, each one with its own photo gallery, public Facebook comments and Like button.",
				},
				{
					title: "Puzzle",
					url: "#",
					image: "puzzle",
					excerpt: "Create puzzles out of any image and let users show how fast they solve them.",
				},
				{
					title: "Audio Trivia",
					url: "#",
					image: "audio_trivia",
					excerpt: "Create multiple choice questions with attached audio, and add difficulty with a countdown clock.",
				},
			]
			theApps.map(app => { %>
			<div class="col-md-4">
				<div class="app-preview-list-item">
					<p class="text-center"><span class="app-icon sprite sprite-<%= app.image %>"></span></p>
					<h3 class="app-title text-center"><%= app.title %></h3>
					<div class="col-md-12">
						<p><%= app.excerpt %></p>
					</div>
				</div>
			</div>
			<% }) %>
		</div>
	</section>

	<%- include('_cta-area') %>

	<%- include('_footer') %>
</body>
</html>