<!DOCTYPE html>
<html lang="en">
<%- include('_head-leadgen', {
	title: "Sincroniza tus Lead Ads con tu plataforma de mailing", 
	canonical: canonical,
	description: "Sincroniza Facebook Lead Ads con Mailchimp, Recibe los leads vía email, o notifica en tiempo real a cualquier URL. Certificados SSL incluidos. Sólo toma 3 minutos.",
	keywords: "facebook lead ads, lead ads sync, lead ads mailchimp, facebook lead ads mailchimp, descargar leads de facebook",
	og_image: "images/leadgen-facebook-thumbnail.jpg",
 }) %>
<body style="background: #F9F9FB top center no-repeat">

	<%- include('_navbar-black') %>
	
	<header class="jumbotron site-jumbotron header-apps-page" style="background: none">
		<div class="container">
			<div class="header-magic-appearance">
				<h1 class="text-center site-title" style="margin-bottom: 40px">Automatiza tus Facebook Lead Ads</h1>
				<h2 class="text-center" style="margin-bottom: 60px">Recibe los leads automáticamente vía email o guárdalos en listas de Mailchimp</h2>
				<p class="text-center site-subtitle">Los leads contactados antes de 60 minutos luego de registrarse tienen 7 veces más probabilidad de convertirse en clientes.<br/>Aumenta tu base de datos de emails en tiempo real con Facebook Lead Ads y esta herramienta.</p>
				<p class="text-center" style="margin-top: 40px">
					<a href="/signup?redirect=leadgen" class="btn btn-lg btn-primary site-cta">Empezar ya</a>
				</p>
			</div>
		</div>
	</header>

	<section class="section-about" style="background: none">
		<div class="container text-center visible-xs">
			<h2 class="h1" style="margin-bottom: 20px">Envía leads automáticamente a tus herramientas favoritas</h2>
			<h4 style="margin-bottom: 60px">No más descargar archivos CSV y volver a subirlos.</h4>
			<div class="row"><img src="/images/leadgen-mobile.png" style="position: relative;" class="img-responsive" /></div>
		</div>
		<div class="container text-center hidden-xs">
			<!-- <h2 class="h1" style="margin-bottom: 20px">How does this work?</h2> -->
			<h2 class="h1 text-primary" style="margin-bottom: 10px"><a href="#how-it-works" id="anch-link">¿Cómo funciona?</a></h2>
			<h4 style="margin-bottom: 20px">Puedes automatizar este proceso en 3 minutos</h4>
			<a href="#how-it-works"><img src="/images/arrow-down.svg" width="20" height="20" /></a>
			<hr/>
			<img src="/images/leadgen-hero-background.png" id="how-it-works" style="
				top: -100px;
				max-width: 100%;
				position: relative;
				pointer-events: none;
				left: 0px;
				z-index: 0;
				" />
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3" style="position: relative;z-index: 1;margin-top: -200px">
				<div class="leadgen-destination-item">
					<p class="text-center"><a href="#"><img src="/images/facebook-logo.png" style="width: 100px" /></a></p>
					<h3 class="app-title text-center">Facebook Lead Ads</h3>
					<p>Captura clientes potenciales con formularios de <a href="http://blog.installthisapp.com/creating-facebook-lead-ads/" target="_blank">Facebook Lead Ads</a>.</p>
				</div>
			</div>
			<!-- <img src="/images/lead-ads.png" style="top: -25px;position: relative;" class="img-responsive animated fadeInDown" /> -->
			<div class="col-md-12 col-sm-12">
				<img src="/images/leadgen-unordered.png" style="position: relative;z-index: 0;margin-top: -20px;" />
			</div>
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3" style="position: relative;z-index: 1;margin-top: -15px;">
				<div class="leadgen-destination-item">
					<p class="text-center"><a href="#"><img src="/images/logo.jpg" class="img-rounded" style="width: 100px" /></a></p>
					<h3 class="app-title text-center">InstallThisApp.com</h3>
					<p>Conecta tus apps favoritas en minutos.<br/><a href="/signup?redirect=leadgen">Regístrate gratis</a>.</p>
				</div>
			</div>
			<img src="/images/leadgen-pipes.png" style="width: 70%;margin-bottom:20px" />
			<div class="col-md-12" style="display: flex;
				align-items: stretch;
				justify-content: flex-start;
				flex-direction: row;"
			>
				<div class="col-md-4" style="display: flex;flex-grow: 1;">
					<div class="leadgen-destination-item">
						<p class="text-center"><a href="#"><img src="/images/third-party-logos/mailchimp.svg" style="width: 100px" /></a></p>
						<h3 class="app-title text-center">Mailchimp</h3>
						<p>Agrega leads a tus listas de MailChimp automáticamente. Envía mails de bienvenida y respuestas automáticas inmediatamente.</p>
					</div>
				</div>
				<div class="col-md-4" style="display: flex;flex-grow: 1;">
					<div class="leadgen-destination-item">
						<p class="text-center"><a href="#"><img src="/images/email-logo.png" style="width: 100px" /></a></p>
						<h3 class="app-title text-center">Email</h3>
						<p>ILIMITADOS leads, entregados a tu inbox en tiempo real. Al contrario de otras apps, nosotros te mostramos absolutamente todos los datos del formulario.</p>
					</div>
				</div>
				<div class="col-md-4" style="display: flex;flex-grow: 1;">
					<div class="leadgen-destination-item">
						<p class="text-center"><a href="#"><img src="/images/your-server-logo.png" style="width: 100px" /></a></p>
						<h3 class="app-title text-center">Webhooks</h3>
						<p>Indica una URL apuntando a tu server y nosotros enviaremos requests POST con todos los datos en tiempo real. Añade cabeceras HTTP opcionalmente..</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-cta white-text-area text-center" id="call-to-action-area">
		<div class="container">
			<h2 class="section-cta-heading">Más de 281 marketers <u>ya no necesitan sincronizar sus leads manualmente</u></h2>
			<h3 class="section-cta-subheading"><i>Qué esperas para ahorrar tiempo y dinero?</i></h3>
			<p class="hidden-xs">
				<a href="/signup?redirect=leadgen" class="btn btn-lg btn-primary site-cta section-cta-button">Comienza ahora</a>
			</p>
			<p class="visible-xs hidden-sm hidden-md hidden-lg"><a href="/signup?redirect=leadgen" class="btn btn-lg btn-primary site-cta section-cta-button" >Comienza ahora</a></p>
			<!-- <p class="tip section-cta-smallprint"><small>In order to install our applications you must first connect with Facebook. Don't worry, we won't post anything to your timeline</small></p> -->
			<h4 class="section-cta-credit"><i>Talentosas personas detrás de estas marcas llevan años usando nuestras herramientas.</i></h4>
			<ul class="list-unstyled customers-list">
				<li>
					<div title="See customers using InstallThisApp" class="sprite sprite-client-1">Toyota</div>
				</li>
				<li>
					<div title="See customers using InstallThisApp" class="sprite sprite-client-2">Philips</div>
				</li>
				<li>
					<div title="See customers using InstallThisApp" class="sprite sprite-client-3">Samsung</div>
				</li>
				<li>
					<div title="See customers using InstallThisApp" class="sprite sprite-client-4">AVIS</div>
				</li>
				<li>
					<div title="See customers using InstallThisApp" class="sprite sprite-client-5">Kellogs</div>
				</li>
				<li>
					<div title="See customers using InstallThisApp" class="sprite sprite-client-6">Budweiser</div>
				</li>
			</ul>
		</div>
	</section>

	<!-- <section class="section hide">
		<div class="container text-center">
			<h2 class="h1" style="margin-bottom: 20px">Pricing</h2>
			<h4 style="margin-bottom: 60px">Start with a Free Account, grow from there.</h4>
		</div>
		<div class="container">
			<div class="tab-content col-md-6 col-md-offset-3">
				<div role="tabpanel" class="tab-pane active" id="plans-normal">
					<table class="table pricing white-text-area responsive-table">
						<thead>
							<tr>
								<td class="featured-plan" style="width: 50%">
									<p class="plan-name">Free</p>
									<h3 class="plan-price">
										<sup>US$</sup>
										<span>0</span>
										<sub>/mo</sub>
									</h3>
									<div class="features">
										<p>Notifications from one Facebook form</p>
										<p>From one Facebook Page</p>
										<p>Unlimited Email Notifications</p>
										<p>To One Email Address</p>
									</div>
									<p>
										<a 
											href="/signup?redirect=leadgen"
											class="btn btn-primary plan-cta">
												Start Now
										</a>
									</p>
									<p>
										<small>
										</small>
									</p>
								</td>
								<td class="featured-plan">
									<p class="plan-name">Lead generator</p>
									<h3 class="plan-price">
										<sup>US$</sup>
										<span>10</span>
										<sub>/mo</sub>
									</h3>
									<div class="features">
										<p>Notifications from 10 Facebook forms</p>
										<p>From up to 10 Facebook Pages</p>
										<p>Unlimited Email Notifications</p>
										<p>Send to up to 10 email addresses</p>
										<p>Sync with Mailchimp and any Webhook URL you want</p>
									</div>
									<p>
										<a 
											href="/signup?redirect=leadgen&utm=buy_plan_leadgenerator"
											class="btn btn-primary plan-cta">
												Choose plan - 10$
										</a>
									</p>
									<p>
										<small>
										</small>
									</p>
								</td>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</section> -->

	<section class="section-about">
		<div class="container text-center">
			<h2 class="h1" style="margin-bottom: 20px">Preguntas frecuentes</h2>
			<h4 style="margin-bottom: 60px">En caso que necesites más información.</h4>
		</div>
	</section>

	<%- include('_section-faq', {
		items: [
			{
				question: "Puedo enviar los leads a varias direcciones de mail?",
				answer: "Sí, puedes añadir cuantos destinatarios quieras.",
			},
			{
				question: "Mi server usa autenticación HTTP, cómo hago para recibir los leads?",
				answer: "La integración con webhooks permite añadir cuantas cabeceras HTTP necesites.",
			},
			{
				question: "Puedo cancelar mi cuenta?",	
				answer: "Sí, puedes cancelar tu cuenta en cualquier momento, sin costo alguno.",
			},
		]
	}) %>

	<%- include('_footer-es') %>

	<%- include('_scripts') %>

	<%- disableSegment ? include('../_disable-segment') : include('../_segment') %>
	<script type="text/javascript">
		analytics.page('Lead Ads Sync')
	</script>
</body>
</html>