<!DOCTYPE html>
<html lang="en">
<%- include('../_head', {title: 'InstallThisApp'}) %>
<body>
	<%- include('_navbar') %>
	
	<header class="jumbotron site-jumbotron white-text-area no-bottom-padding-jumbotron" id="large-header">
		<div class="container">
			<div class="header-magic-appearance">
				<h1 class="text-center site-title">Top Fans for Facebook Pages</h1>
				<p class="text-center" style="margin-top: 20px">
					<a href="/signup" class="btn btn-lg btn-primary site-cta absolute-horizontal-center">Start Now</a>
				</p>
				<div class="text-center">
					<div class="app-main-desktop-screenshot-frame" style="height: 500px;width: 800px">
						<img src="/images/landing/app-screenshots/top_fans/hero.png" style="width: 100%">
					</div>
				</div>
			</div>
		</div>
	</header>

	<section class="section-about">
		<div class="container text-center">
			<h2 class="h1 col-md-12">fdsfdsafdsa</h2>
			<p>fdsafdas</p>
		</div>
	</section>

	<% 
	theApps = [0,1,2,3,4]
	theApps.map(app => { %>
	<div class="section <%= app % 2 ? '' : 'gradientlila white-text-area' %>">
		<div class="container">
			<div class="col-md-5 <%= app % 2 ? 'vertical-align text-center-xs text-center-sm' : 'col-md-push-7 vertical-align text-center-xs text-center-sm' %>">
				<h2 class="h1 app-step-title">title</h2>
				<p class="app-step-content">content</p>
			</div><!-- 
			 --><div class="col-md-6 <%= app % 2 ? 'col-md-push-1 vertical-align' : 'col-md-pull-5 vertical-align' %>">
				<% if (app % 2) { %>
					<div class="screenshot-frame-fb">
						<img src="/images/landing/app-screenshots/top_fans.png" class="screenshot">
					</div>
				<% } 
				else {%>
					<div class="screenshot-frame-browser">
						<img src="/images/landing/flatchrome.png">
						<img src="/images/landing/app-screenshots/top_fans.png" style="visibility: hidden">
						<span class="screenshot">
							<img src="/images/landing/app-screenshots/top_fans.png" class="">
						</span>
					</div>
				<% } %>
				<% if (app % 2) { %>
					<div class="screenshot-frame-mobile">
						<img src="/images/landing/app-screenshots/top_fans-mobile.png" class="screenshot">
					</div>
				<% } %>
			</div>
		</div>
	</div>
	<% }) %>

	<%- include('_section-extra-features') %>

	<section class="section-apps section-about text-center">
		<div class="container">
			<div class="col-sm-12">
				<h3 style="margin-bottom: 50px">This is just one of our apps</h3>
			</div>
		</div>
		<div class="container apps-preview">
			<div class="col-md-8 col-md-offset-2 col-sm-12">
				apps
			</div>
		</div>
		<div class="container">
			<div class="col-sm-12">
				<p><a href="/apps" class="btn btn-info">View all apps</a></p>
			</div>
		</div>
	</section>

	<%- include('_cta-area') %>

	<%- include('_footer') %>
</body>
</html>