<!DOCTYPE html>
<html lang="en">
<%- include('../_head', {title: "White label contests"}) %>
<body>
	<%- include('_navbar') %>
	
	<header class="jumbotron site-jumbotron white-text-area header-apps-page">
		<div class="container">
			<div class="header-magic-appearance">
				<h1 class="text-center site-title">White label contests</h1>
				<p class="text-center site-subtitle">Continually run fresh campaigns and contests for your clients. Hide our brand and sign with your own brand.</p>
			</div>
		</div>
	</header>

	<section class="section-about">
		<div class="container text-center">
			<h2 class="h1 col-md-12">What can I do with a White Label social contest?</h2>
			<p>Your agency doesn't have to do all the work. Create contests for your clients and sign them with your own name.</p>
		</div>
	</section>

	
	<div class="section gradientlila white-text-area">
		<div class="container">
			<div class="col-md-5 vertical-align text-center-xs text-center-sm">
				<h2 class="h1 app-step-title">your-own-domain.com</h2>
				<p class="app-step-content">All of our apps, visible under your own domain name --or your client's.</p>
			</div><!-- 
			 --><div class="col-md-7 vertical-align">
				<div class="thumbnail">
					<img src="" />
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="col-md-7 vertical-align">
				<div class="thumbnail">
					<img src="" />
				</div>
			</div><!-- 
			 --><div class="col-md-5 vertical-align text-center-xs text-center-sm">
				<h2 class="h1 app-step-title">Use your own Facebook App</h2>
				<p class="app-step-content">Integrate your contest with a Facebook page by using your own customized Facebook App.</p>
			</div>
		</div>
	</div>
	<div class="section gradientlila white-text-area">
		<div class="container">
			<div class="col-md-5 vertical-align text-center-xs text-center-sm">
				<h2 class="h1 app-step-title">Sign with your logo</h2>
				<p class="app-step-content">Add your own signature and link to your website.</p>
			</div><!-- 
			 --><div class="col-md-7 vertical-align">
				<div class="thumbnail">
					<img src="" />
				</div>
			</div>
		</div>
	</div>

	<%- include('_section-extra-features') %>

	<%- include('_cta-area') %>

	<%- include('_footer') %>

	<%- include('_scripts') %>

	<%- disableSegment ? include('../_disable-segment') : include('../_segment') %>
	<script type="text/javascript">
		analytics.page('White Label')
	</script>
</body>
</html>